body{
  box-sizing: border-box;
}

.bordered{
  background: #fff !important;
  border-top: 1px solid rgba(34,36,38,.1);
}

.centered{
  text-align: center !important;
}

.flex{
  display: flex !important;
  border: 1px solid black;
}

.flex-horizontal{
  flex-direction: row !important;
}

.ui.table tr td{
  border-top: none !important;
}

.vertically-centered{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.less-padded{
  padding: 5px !important;
}

.ui.grid .row{
  padding-top: 0 !important;
  padding-bottom: 0 !important; 
}

.ui.container{
  z-index: 999 !important;
}

table{
  z-index: 1000 !important;
}

.notification{
  position: fixed !important;
  height: 50px;
  width: 100vw;
  text-align: center;
  animation: fadeIn ease 0.2s;
  z-index: 10000 !important;
  -webkit-animation: fadeIn ease 0.2s;
  -moz-animation: fadeIn ease 0.2s;
  -o-animation: fadeIn ease 0.2s;
  -ms-animation: fadeIn ease 0.2s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}